apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: tandemqueue-api-hpa
  namespace: tandemqueue
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: tandemqueue-api
  minReplicas: 2
  maxReplicas: 6
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 60

